<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Site Parser</title>
    </head>
    <body>
        <div></div>
        <div><a href="/sitesList">Show sites</a></div>
        <div></div>
    </body>
</html>